.to-div1{
    width: 40%;
    height: 48px;
    background-color: rgb(39, 43, 44);
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 12px;
    margin: auto;
    border-radius: 5px;
    margin-top: 5px;
}
.to-div1:hover{
    border: 1px solid rgb(38, 151, 68);
}
.inner-div{
    margin-left: 10px;
    width: 85%;

}
.remove{
    width: 5%;
    /* height: 37px; */
    margin-top:7px;
     margin-left: 5px; 
    margin-right: 5px;
    background-color: rgb(39, 43, 44);
    border: none;
    font-size: large;
    color: rgb(38, 151, 68);
    cursor: pointer;
}
.remove:hover{
    color:red;
}
.edit{
    width: 20%;
    height: 37px;
    margin-top:10px;
    margin-left: 40px; 
    background-color: rgb(39, 43, 44);
    border: none;
    font-size: large;
    color: rgb(38, 151, 68);
    cursor: pointer;
}
@media (max-width:467px) {
    .to-div1{
        width: 80%;
      height: 48px;
      margin: auto;
        /* background-color: rgb(39, 43, 44);
        color: white;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: left;
        margin-left: 12px;
        margin: auto;
        border-radius: 5px;*/
        margin-top: 5px;
    }
    .to-div1:hover{
        border: 1px solid rgb(38, 151, 68);
    }
    .inner-div{
        margin-left: 10px;
        width: 70%;
    
    }
    .remove{
        width: 5%;
        /* height: 37px; */
        margin-top:7px;
         margin-left: 5px; 
        margin-right: 5px;
        background-color: rgb(39, 43, 44);
        border: none;
        font-size: large;
        color: rgb(38, 151, 68);
        cursor: pointer;
    }
    .remove:hover{
        color:red;
    }
    .edit{
        width: 20%;
        height: 37px;
        margin-top:10px;
        margin-left: 40px; 
        background-color: rgb(39, 43, 44);
        border: none;
        font-size: large;
        color: rgb(38, 151, 68);
        cursor: pointer;
    }
    /* .hd{

    } */
  }
