/* @media (max-width:467px) {
  .input{
    width: 80%;
    height: 35px;
    /* background-color: rgb(39, 43, 44);
    border: none;
    border-style: none;
    margin: 7px 1px 1px 7px;
    color: white;
    font-size: 15px; */
    /* border-color: transparent; */
  /* } */
  /* .heading{
    width: 40%;
    height: 48px;
    margin: auto; */
    /* background-color: rgb(39, 43, 44);
    display: flex;
    border-radius: 5px;
    margin-top: 2px; */
/* }
.heading:hover{
    border: 1px solid rgb(38, 151, 68);
} */
/* .btnAdd{
    width: 10%;
    height: 37px;
    margin-top:7px;
    margin-left: 40px;
    background-color: rgb(39, 43, 44);
    border: none;
    font-size: large;
    color: rgb(38, 151, 68);
    cursor: pointer;
}
.btnAdd:hover{
    
    color: white;
} */
/* .toDo-div{ */
    /* list-style: none;
    padding-inline-start: 0px;
    width: 100%;
    height: 48px;
    margin: 20px;
    background-color: rgb(39, 43, 44);
    display: flex;
    border-radius: 5px;
/* } */ 
/* .hd{
    margin-top: 5px;
}
h1{
   margin: auto;
   color: rgb(38, 151, 68);   
}
} */
